@model MVC20.Models.register
@{
    ViewBag.Title = "show";
}

<html>
<body>
    <div>
        <h1>Sucessfully inserted</h1>
        <
      @Html.ActionLink("back to insert", "rege");
    </div>
</body>
</html>

