@model MVC20.Models.LoginModel
@{
    ViewBag.Title = "sucess";
}

<h2>sucess</h2>
<html>
<body>
    <div>
        <h1>Login Sucessfull!</h1>
        <h3>Hii!!@Model.username</h3>
    </div>
</body>
</html>

